<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
</head>

<body>
    <div class="container">
        <div class="box">
            <h1>URL SHORTENER</h1>
            <form class="inputs" id="post-form" method="POST">
                {% csrf_token %}
                <input type="text" placeholder="Enter your URL..." name="input" id="inputlink" />
                <button type="submit" id="shorten">Shorten URL</button>
            </form>
            <div class="result-container">
                <a id="result">Your link will appear here.</a>
                <button class="copy-btn" id="copy">Copy</button>
            </div>
        </div>

    </div>

    <script>
        const form = document.getElementById('post-form')
        const link = document.getElementById('inputlink')


        function getCookie(name) {
            var cookieValue = null;

            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = cookies[i].trim()
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');


        form.addEventListener('submit', function (e) {
            e.preventDefault()
            let url = '/create'
            let inputLink = link.value

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken
                },
                credentials: 'same-origin',
                body: JSON.stringify({ url: inputLink }),
            }).then(function (data) {
                data.text().then(text => {
                    document.getElementById('result').innerText = `<Your domain name>/${text}`
                });
            })
        })

        document.getElementById('copy').addEventListener('click', ()=>{
            if(document.getElementById('result').innerText !== "Your link will appear here."){
                var copy = document.getElementById('result')
                var r = document.createRange();
                r.selectNode(copy);
                window.getSelection().removeAllRanges();
                window.getSelection().addRange(r);

                try {
                    var successful = document.execCommand('copy');
                    var msg = successful ? 'successful' : 'unsuccessful';
                    alert('Copying URL was ' + msg);
                    window.getSelection().removeAllRanges();
                } catch (err) {
                    alert('Oops, unable to copy');
                }
            }
            else{
                alert("No url is shortened.")
            }
        })
    </script>
</body>

</html>